form,
.notatkiLista {
  width: 500px;
  background: white;
  margin: 35px auto;
  padding: 35px;
  border-radius: 15px;
}
label {
  display: block;
  color: darkslategrey;
  padding-top: 20px;
  letter-spacing: 0.7px;
  font-size: 17px;
  float: left;
}
input,
textarea {
  display: block;
  padding: 10px 0 0 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid darkgray;
}
input:focus,
textarea:focus {
  outline: none;
  border-bottom: 1px solid darkblue;
}
.zapisz {
  display: block;
  background: lightseagreen;
  color: white;
  padding: 12px 15px 12px 15px;
  margin: 45px 35px 0px 0;
  border: 0;
  border-radius: 13px;
  width: 20%;
}
.wrap {
  display: flex;
  justify-content: center;
}
.zapisz:hover {
  transform: scale(1.12);
}
.pokaz {
  background: lightseagreen;
  color: white;
  padding: 12px 15px 12px 15px;
  margin: 45px 0 15px 0;
  border: 0;
  border-radius: 13px;
  width: 100px;
}
.pokaz:hover {
  transform: scale(1.12);
}
.usun {
  background: red;
  color: black;
  margin: 1px;
  padding: 5px;
  border: solid black 1px;
  border-radius: 5px;
  width: 20px;
  display: flex;
  justify-content: center;
  float: right;
}
.usun:hover {
  transform: scale(1.12);
}
#wazne {
  font-size: 13px;
  font-style: italic;
}
input[type="checkbox"] {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: 22px;
  left: 10px;
}
.notatkiLista {
  list-style: none;
  text-align: left;
}
.zapiszBtn {
  padding: 0 25px 0 25px;
}
.notatkiElement {
  display: block;
  justify-content: center;
  margin: 10px;
  outline: 1px solid #000;
}
.notatkiContent{
  padding: 10px;
}
